$font-poppins: "Poppins", sans-serif;
$grey: #f7f7f7;
$red: #f80d38;
$white: #ffffff;
$black: #00000080;
$dark-black: #000000cc;
$blue: #100db1;
$dark-grey: #c5c5c5;
$shadow-grey: #0a0a0a33;
$grey-hover: #f1f1f1;
$light-black: #343434;
$active-grey: #dfe0e2;
$border-grey: #d3d3d3;
