.vitals-charts {
  display: flex;
  flex-direction: column;
  width: 50%;
  margin: 23px 0 0;
}

@include media-mobile {
  .vitals-charts {
    width: 100%;
    margin: 10px 0 0;
    padding: 10px;
  }

  h2 {
    font-size: 18px;
  }
}
